:root {
  --primary-color: #667eea;
  --secondary-color: #764ba2;
  --background-color: #f0f4f8;
  --text-color: #2d3748;
  --input-bg: rgba(255, 255, 255, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  color: white;
  text-align: center;
}

.timer-container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  padding: 30px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
#countdown {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: white;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 25px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
}

input {
  background: var(--input-bg);
  border: none;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  font-size: 1rem;
  /* transition: all 0.3s ease; */
  outline: none;
}
input:focus {
  outline: 2px solid var(--primary-color);
  box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.3);
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-start {
  background-color: #32aa64;
  color: white;
}

.btn-reset {
  background-color: #f75252;
  color: white;
}

button:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

button:active {
  transform: scale(0.95);
}
